:root{
    font-family: Arial, Helvetica, sans-serif;
    --container-width: 50rem;
}

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.logo-letter{
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.logo-back{
    fill: black
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    white-space: pre-wrap;
}

.profile{
    width: var(--container-width);
    display: flex;
    border: 1px solid gray;
    padding: 3rem;
    gap: 2rem;
    border-radius: 2rem;
}

.post-workshop{
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 3rem;
    gap: 2rem;
    border-radius: 2rem;
}

#post-content{
    flex-grow: 1;
    padding: 1rem;
    background-color: #f3f3f3;
    border: 0px;
    border-radius: 1rem;
}

.toolbox li{
    flex-grow: 1;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.profile-description{
    flex-grow: 1;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 1000px;
}

.btn{
    color: white;
    text-decoration: none;
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
}

.btn.secondary{
    color: black;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.post{
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 3rem;
    gap: 2rem;
    border-radius: 2rem;
}

.post img{
    border-radius: 1rem;
    width: 44rem;
    height: 44rem;
}

.post-data{
    width: 100%;
    display: flex;
    gap: 1rem;
    line-height: 3rem;
    color: grey;
    border-bottom: 1px solid lightgray;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 5rem;
}

.mol{
    display: flex;
    gap: 1rem;
}

.mol.h{
    flex-direction: row;
    align-items: center;
} 
