
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Inter-Italic;
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

:root{
    font-family: Inter, Arial, Helvetica, sans-serif;
    --container-w: 1440px;
    --base-size: 27px;
    font-size: 16px;
    --color-black: rgba(10,10,10,1);
    --color-gray: rgba(150,150,150,1);
    --color-lightgray: rgba(240,240,240,1);;
    --color-white: rgba(255,255,255,1);
    --color-blue: rgba(0,0,240,1);
    --color-purple: rgba(75,0,240,1);
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: calc(var(--base-size) * 2);
}

h2{
    font-size: calc(var(--base-size) * 1.75);
}

h3{
    font-size: calc(var(--base-size) * 1.5);
}

p,a,label{
    font-size: var(--base-size)
}

a:link{
    color: var(--color-blue);
}

a:link:visited{
    color: var(--color-purple);
}

.mol{
    display: flex;
    gap: calc(var(--base-size) / 2);
    flex: 0 0 auto;
}

.mol.v{
    flex-direction: column;
}

.mol.h{
    flex-direction: row;
    align-items: center;
} 

.mol.h.c{
    justify-items: center;
}

.wrapper{
    display: flex;
    flex: 1 0 auto;
    gap: var(--base-size);
}

.wrapper.v{
    flex-direction: column;
    justify-content: center;
}



/* Header START */ 

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    padding: var(--base-size);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.logo>svg{
    width: 240px;
    height: 48px;
}

.logo-letter{
    stroke: var(--color-white);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.logo-back{
    fill: var(--color-black)
}

.user-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--base-size)/2);
}

.user-meta{
    display: flex;
    flex-direction: column;
}

.user-card .username{
    font-weight: bold;
}

.user-avatar>img{
    width: 64px;
    height: 64px;
    border-radius: 1000px;
}

/* Header END */

/* Footer START */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 5rem;
}

/* Footer END */

/* Buttons START */

.btn, .btn:link, .btn:visited{
    display: block;
    color: var(--color-white);
    text-decoration: none;
    padding: calc(var(--base-size) * 0.75) var(--base-size) ;
    background-color: var(--color-black);
    border-radius: var(--base-size);
    transform: scale(1);
    transition: all 250ms;
}

.btn:hover{
 transform: scale(1.05);
}

.btn.secondary{
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 0.5rem;
    border: 1px solid var(--color-black);
    border-radius: 0.5rem;
}

.btn.secondary.ds{
    color: gray;
    background-color: var(--color-white);
    padding: 0;
    border: none;
    border-radius: 0.5rem;
}

.btn.delete{
    color: red;
    background-color: var(--color-white);
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 0.5rem;
}

/* Buttons END */

@media only screen and (max-width:1440px){
   :root{
        --container-w: 960px;
        --base-size: 21px;
    } 

    .logo>svg{
        width: 200px;
        height: 40px;
    }

    .user-avatar>img{
        width: 54px;
        height: 54px;
    }
}

@media only screen and (max-width:960px){
    :root{
        --container-w: 768px;
        --base-size: 18px;
    }

    h1{
    font-size: calc(var(--base-size) * 1.5);
    }

    h2{
        font-size: calc(var(--base-size) * 1.35);
    }

    h3{
        font-size: calc(var(--base-size) * 1.15);
    }

    .logo>svg{
        width: 180px;
        height: 36px;
    }

    .user-avatar>img{
        width: 44px;
        height: 44px;
    }
}

@media only screen and (max-width:768px){
    :root{
        --container-w: 480px;
        --base-size: 14px;
    }

    .logo>svg{
        width: 160px;
        height: 32px;
    }

    .user-avatar>img{
        width: 34px;
        height: 34px;
    }
}

@media only screen and (max-width:480px){
    :root{
        --container-w: 320px;
        --base-size: 12px;
    }

    .logo>svg{
        width: 120px;
        height: 24px;
    }

    .user-avatar>img{
        width: 30px;
        height: 30px;
    }
}