
.post-workshop, .workshop{
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 3rem;
    gap: 2rem;
    border-radius: 2rem;
}

#post-content, #content{
    flex-grow: 1;
    padding: 1rem;
    background-color: #f3f3f3;
    border: 0px;
    border-radius: 1rem;
}

.img-with-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
figcaption{
    font-size: 1rem;
    font-style: italic;
}

label:has(+ textarea:required)::after{
    content: "*";
    color: red;
}
