<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    {{if .signin }}
        <script defer src="/static/scripts/auth/signin.js"></script>
    {{end}}
    {{if .login }}
        <script defer src="/static/scripts/auth/login.js"></script>
    {{end}}
    {{if .logout }}
        <script defer src="/static/scripts/auth/logout.js"></script>
    {{end}}
</head>
<body>
    {{ template "header.html" . }}

    <main>
        <div class="section-header">
            <h2>{{ .heading }}</h2>
        </div>
        {{ if .logout }}
        <div><a href="/">Back to feed &rarr; </a></div> 
        {{ else }}
            <form class="auth" id="auth">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Input your email" autocomplete="off" required />
                {{ if .signin }}
                    <label for="display-name">Display name:</label>
                    <input type="text" id="display-name" name="display-name" placeholder="Input your display name" autocomplete="off" required />
                {{ end }}
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Input your password" autocomplete="off" required />
                <input class="btn" type="submit" value="Submit" />
            </form>
            {{if .login }}<div><a href="/signin">I have no account yet &rarr; </a></div> {{ end }}
        {{ end }}
    </main>

    {{ template "footer.html" . }}
</body>
</html>