<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="/static/scripts/dates-formatter.js"></script>
    {{if .post }}
        <script defer src="/static/scripts/delete-post.js"></script>
    {{end}}
</head>
<body>
    {{ template "header.html" . }}

    <main>
            {{ if .isIndex}}
                {{ block "feed" .}}{{end}}
            {{ else }}
                {{ block "post" .}}{{end}}
            {{ end }}
    </main>

    {{ template "footer.html" . }}
</body>
</html>