<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="/static/scripts/utilities/dates-formatter.js"></script>
    {{ if .is_auth }}
        <script defer src="/static/scripts/likes/likes.js"></script>
        {{if .post }}<script defer src="/static/scripts/posts/delete-post.js"></script>{{end}}
        {{if .comment }}
            <script defer src="/static/scripts/threads/delete-comment.js"></script>
            <script defer src="/static/scripts/threads/delete-reply.js"></script>            
        {{end}}
    {{ end }}

</head>
<body>
    {{ template "header.html" . }}

    <main>
            {{ if .is_index }}
            {{ else }}
                <div class="breadcrumbs">
                    {{if .post }}<a href="/">Feed</a> &rarr; <a href="{{ .post.ID }}">Post {{ .post.ID }} </a>{{ end }}
                    {{if .comment }}<a href="/">Feed</a> &rarr; <a href="/post/{{ .comment.PostId }}">Post {{ .comment.PostId }}</a> &rarr; <a>Comment {{ .comment.ID }}</a>{{ end }}
                </div>
            {{ end }}

            {{ if .is_index }}
                {{ block "feed" . }}{{ end }}
            {{ end }}

            {{ if .post }}
                {{ block "post" . }}{{ end }}
            {{ end }}

            {{ if .comment }}
                {{ block "comment" . }}{{ end }}
            {{ end }}
    </main>

    {{ template "footer.html" . }}
</body>
</html>