{{ define "comment" }}
    <article class="comment leader">
        <div class="comment-data">
            <div class="mol h">
                <div><a><b>Published At:</b></a><a class="date">{{ .comment.CreatedAt }}</a></div>
            </div>
            {{ if eq .user.Id .comment.CommentatorId }}
            <div class="mol h">
                <a class="btn secondary" href="/workshop/comment/{{ .comment.ID }}">Edit</a>
            </div>
            {{ end }}
        </div>
  
        <p>{{ .comment.Content }}</p>

        <div class="mol h">
            <a class="counter comments" {{ if .is_auth }} href="/workshop/reply?comment_id={{ .comment.ID }}" {{ end }}>💬 {{ .comment.NumOfReplies }}</a>
        </div>    
    </article>

    <div class="section-header">
        <h2>Replies</h2>
        {{ if .is_auth }}
        <div><a class="btn" href="/workshop/reply?comment_id={{ .comment.ID }}">Add a reply</a></div>
        {{ end }}
    </div>

    {{ range .replies }}
        <article class="comment">
            <div class="comment-data">
                <div class="mol h">
                    <div class="author"><img width="32" height="32" src="/static/img/avatar.jpg"><a>khralenok_com</a></div><div><a><b>Created at:</b></a><a class="date">{{ .CreatedAt }}</a></div>
                </div>
            </div>
            
            <p>{{ .Content }}</p>
        </article>
    {{ else }}
        <p>No replies yet.</p>
    {{end}}

{{ end }}

{{define "comment_workshop"}}
    <form class="workshop" id="workshop" {{ if .content }} data-post-id="{{ .content.ID }}" {{ end }} >
        <label for="content">Type comment text here:</label>
        <textarea id="content" name="content" rows="12" placeholder="Type here..." required>{{ if .content }}{{ .content.Content }}{{ end }}</textarea>
        <input class="btn" type="submit" value="Submit" />
    </form>
{{end}}