{{ define "comment" }}
    {{ $global := . }}
    <main>
        <article class="object parent" id="comment">
            <div class="object-header">
                <div class="object-meta">
                    <div class="author">
                        <img src="/static/img/{{.comment.CommentatorAvatar}}">                        
                        <div>
                            <div>
                                <a>{{ .comment.CommentatorUsername }}</a> 
                            </div>
                            <div class="secondary-text">
                                <a><b>at:</b></a>
                                <a class="date">{{ .comment.CreatedAt }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                {{ if eq .user.Id .comment.CommentatorId }}
                    <div class="object-actions">
                        <a href="/workshop/comment/{{ .comment.ID }}">✏️</a>
                        <a id="delete" data-comment-id="{{ .comment.ID }}" data-post-url="/post/{{ .comment.PostId }}" class="delete">❌</a>
                    </div>
                {{ else if eq .user.Role "admin" }}
                    <div class="object-actions">
                        <a id="delete" data-comment-id="{{ .comment.ID }}" data-post-url="/post/{{ .comment.PostId }}" class="delete">❌</a>
                    </div>            
                {{ end }}

            </div>

            <div class="object-content">
                <p>{{ .comment.Content }}</p>
            </div>
      
            <div class="object-footer">
                <div class="mol">
                    <a class="counter comments">💬 {{ .comment.NumOfReplies }}</a>
                </div>    
            </div>
        </article>
    </main>

    <section id="replies-box">
        <div class="section-header">
            <h2>Replies</h2>
            {{ if .user.Id }}
            <div>
                <a class="btn" href="/workshop/reply?comment_id={{ .comment.ID }}">Add a reply</a>
            </div>
            {{ end }}
        </div>

            {{ range .replies }}
                <article class="object inheritor">
                    <div class="object-header">
                        <div class="object-meta">
                            <div class="author">
                                <img src="/static/img/{{ .CommentatorAvatar }}">
                                <div>
                                    <div>
                                        <a>{{ .CommentatorUsername }}</a>
                                    </div>
                                    <div class="secondary-text">
                                        <a><b>at:</b></a>
                                        <a class="date">{{ .CreatedAt }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ if eq $global.user.Id .CommentatorId }}
                            <div class="object-actions">
                                <a href="/workshop/reply/{{ .ID }}">✏️</a>
                                <a id="delete" data-reply-id="{{ .ID }}" data-delete-reply="1">❌</a>
                            </div>
                        {{ else if eq $global.user.Role "admin" }}
                            <div class="object-actions">
                                <a id="delete" data-reply-id="{{ .ID }}" data-delete-reply="1">❌</a>
                            </div>            
                        {{ end }}
                    </div>

                    <div class="object-content">                        
                        <p>{{ .Content }}</p>
                    </div>
                </article>
            {{ else }}
                <p>No replies yet.</p>
            {{end}}
    </section>
{{ end }}

{{define "comment_workshop"}}
    <form class="workshop" id="workshop" {{ if .content }} data-comment-id="{{ .content.ID }}" {{ end }} >
        <label for="content">Type comment text here:</label>
        <textarea id="content" name="content" rows="12" placeholder="Type here..." required>{{ if .content }}{{ .content.Content }}{{ end }}</textarea>
        <input class="btn" type="submit" value="Submit" />
    </form>
{{end}}