{{ define "comment" }}
    {{ $global := . }}
    <article class="comment leader">
        <div class="comment-data">
            <div class="mol h">
                <div class="author"><img width="32" height="32" src="/static/img/avatar-placeholder.jpg"><a>{{ .comment.CommentatorUsername }}</a></div><div><a>at:</a><a class="date">{{ .comment.CreatedAt }}</a></div>
            </div>
            {{ if eq .user.Id .comment.CommentatorId }}
                    <div class="mol h">
                        <a href="/workshop/comment/{{ .comment.ID }}">✏️</a>
                        <a id="delete" data-comment-id="{{ .comment.ID }}" data-post-url="/post/{{ .comment.PostId }}" class="delete">❌</a>
                    </div>
            {{ else if eq .user.Role "admin" }}
            <div class="mol h">
                <a id="delete" data-comment-id="{{ .comment.ID }}" class="btn delete">Delete</a>
            </div>            
            {{ end }}
        </div>
  
        <p>{{ .comment.Content }}</p>

        <div class="mol h">
            <a class="counter comments">💬 {{ .comment.NumOfReplies }}</a>
        </div>    
    </article>

    <div id="replies-box">
        <div class="section-header">
            <h2>Replies</h2>
            {{ if .is_auth }}
            <div><a class="btn" href="/workshop/reply?comment_id={{ .comment.ID }}">Add a reply</a></div>
            {{ end }}
        </div>

            {{ range .replies }}
                <article class="comment">
                    <div class="comment-data">
                        <div class="mol h">
                            <div class="author"><img width="32" height="32" src="/static/img/avatar-placeholder.jpg"><a>{{ .CommentatorUsername }}</a></div><div><a><b>Created at:</b></a><a class="date">{{ .CreatedAt }}</a></div>
                        </div>
                        {{ if eq $global.user.Id .CommentatorId }}
                            <div class="mol h">
                                <a href="">✏️</a>
                                <a id="delete" data-reply-id="{{ .ID }}" data-delete-reply="1">❌</a>
                            </div>
                        {{ else if eq $global.user.Role "admin" }}
                            <div class="mol h">
                                <a id="delete" data-comment-id="">❌</a>
                            </div>            
                        {{ end }}
                    </div>
                    
                    <p>{{ .Content }}</p>
                </article>
            {{ else }}
                <p>No replies yet.</p>
            {{end}}
    </div>

{{ end }}

{{define "comment_workshop"}}
    <form class="workshop" id="workshop" {{ if .content }} data-post-id="{{ .content.ID }}" {{ end }} >
        <label for="content">Type comment text here:</label>
        <textarea id="content" name="content" rows="12" placeholder="Type here..." required>{{ if .content }}{{ .content.Content }}{{ end }}</textarea>
        <input class="btn" type="submit" value="Submit" />
    </form>
{{end}}