{{ define "feed"}}
    <div class="profile">
        <div class="profile-description">
            <h1>Grigorii Khralenok</h1>
            <p>Hand-drawn illustrations & updates from my indie software developer journey</p>
            <p><a href="https://github.com/khralenok">github.com/khralenok</a></p>
        </div>
        <img class="avatar" src="static/img/avatar.jpg">
    </div>
    <h2> Recent Posts </h2>
    {{range .posts}}
        <article class="post">
            <div class="post-data"><a><b>ID:</b> {{.ID}}</a><a><b>Published At:</b> {{.CreatedAt}}</a></div>
            
            <p>{{.Content}}</p>

            {{if .ImageURL}}
                <img width="864" height="864" src="/static/{{.ImageURL}}" />
            {{end}}
        </article>
    {{else}}
        <p>No posts yet. </p>
    {{end}}
{{end}}

{{ define "post" }}
    <article class="post">
        <div class="post-data"><a><b>ID:</b> {{ .post.ID }}</a><a><b>Published At:</b> {{ .post.CreatedAt }}</a></div>
            
            <p>{{ .post.Content}}</p>

            {{if .post.ImageURL}}
                <img width="864" height="864" src="/static/{{ .post.ImageURL}}" />
            {{end}}
    </article>
{{ end }}