{{ define "post" }}
    {{ $global := . }}
    <article class="post leader">
        <div class="post-data">
            <div class="mol h">
                <div><a><b>Published At:</b></a><a class="date">{{ .post.CreatedAt }}</a></div>
            </div>
            {{ if eq .user.Role "admin" }}
            <div class="mol h">
                <a href="/workshop/post/{{ .post.ID }}">✏️</a>
                <a id="delete" data-post-id="{{ .post.ID }}" class="delete">❌</a>
            </div>
            {{ end }}
        </div>
  
        <p>{{ .post.Content }}</p>

        {{ if .post.ImageURL }}
            <img width="864" height="864" src="/uploads/{{ .post.ImageURL}}" />
        {{ end }}
        <div class="mol h">
            <a class="counter comments">💬 {{ .post.NumOfComments }}</a>
            {{ if .post.IsLiked }}
                <a class="counter like" data-post-id="{{ .post.ID }}" data-is-checked="true">❤️ {{ .post.NumOfLikes }}</a>
            {{ else }}
                <a class="counter like" data-post-id="{{ .post.ID }}">🩶 {{ .post.NumOfLikes }}</a>
            {{ end }}
        </div>    
    </article>

    <div class="section-header">
        <h2> Comments </h2>
        {{ if .is_auth }}
        <div><a class="btn" href="/workshop/comment?post_id={{ .post.ID }}">Add a comment</a></div>
        {{ end }}
    </div>

    {{range .comments }}
        <article class="comment">
            <div class="comment-data">
                <div class="mol h">
                    <div class="author"><img width="32" height="32" src="/static/img/avatar-placeholder.jpg"><a>{{ .CommentatorUsername }}</a></div><div><a>at:</a><a class="date">{{ .CreatedAt }}</a></div>
                </div>
                <div>
                    <a href="/comment/{{.ID}}">View details &rarr;</a>
                </div>
            </div>
            
            <p>{{ .Content }}</p>

            <div class="mol h">
            <a class="counter comments" href="/comment/{{.ID}}">💬 {{ .NumOfReplies }}</a>
        </div>    
        </article>    
    {{ else }}
        <p>No comments yet.</p>
    {{ end }}
{{ end }}

{{define "post_workshop"}}
    <form class="post-workshop" id="post-workshop" {{ if .content }} data-post-id="{{ .content.ID }}" {{ end }} >
        <label for="post-content">Type post text here:</label>
        <textarea id="post-content" name="post-content" rows="12" placeholder="Type here..." required>{{ if .content }}{{ .content.Content }}{{ end }}</textarea>
        {{ if .content }}
            {{ if .content.ImageURL}}
                <div>
                    <figure class="img-with-caption">
                        <img width="72" height="72" src="/uploads/{{ .content.ImageURL}}"/>
                        <figcaption>Selected image</figcaption>
                    </figure>
                </div>
            {{end}}
        {{ end }}
            <label for="post-image">Select an image:</label>
            <input type="file" id="post-image" name="post-image" />
            <input class="btn" type="submit" value="Submit" />
    </form>
{{end}}
